.movie-card {
  position: relative;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 8px;
  text-align: center;
  }
  
  .movie-poster {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .movie-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .movie-year {
    color: #555;
  }

  .add-all-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 36px;
    color: #92fe04;
    }
  
  .add-all-button:hover {
    color: #0056b3;
    }

  .add-all-button:focus {
    outline: none;
    }
  