.search-page {
  display: flex;
  height: 100vh;
  padding: 20px;
}

/* Sidebar for Watch List */
.watchlist-sidebar {
  width: 250px;
  padding: 20px;
  background-color: #a1bfdd;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space between to push the button to the bottom */
}

/* Grid of movies in the sidebar */
.sidebar-movie-grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-content {
  flex: 1;
  padding: 0 20px;
  overflow-y: auto;
}

.page-title {
  font-size: 28px;
  font-weight: bold;
  color: #e63946;
  margin-bottom: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Logout Button */
.logout-button {
  padding: 10px;
  background-color: #e63946;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px; /* This ensures it aligns at the bottom of the sidebar */
}

.logout-button:hover {
  background-color: #d32f2f;
}

.logout-button:focus {
  outline: none;
}
